
html
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNwgK9ifeWyQ5O2iDLfzJwFPYvf8AtCRYFkkxGU4HdySj0iPrMjg");
	background-size: 100% 100%;
}

*{
	margin: 0px auto;
	max-width: 900px;
	box-sizing: border-box;
}
#divheader
{
	background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS9slixCDCDYWATbiz1R1Ak9PUesZKkidXe9Cig3Yk_fI-UsSf-mg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 200px;
	padding:30px;overflow: auto;
}
#headerfont
{
	font-size: 190%;
	 color: white;
	 font-family: sans-serif;
}
	ul
	{
		list-style-type: none;
		padding: 0px ;
	}
	li
	{
		float: left;
		width: 25%;
		text-align: center;
		font-weight: bold;
		background: #00FFFF;
		padding: 10px;
		margin-bottom: 10px;
	}
	li:hover
	{
		background:#7EB224;
	}

@media only screen and (max-width: 900px)
{
#myblog{
 }
}
#tech1
{
	width: 70%;
	float:left;
	text-align: justify;
}
#tech2
{
	width: 35%;
	float:left;
	text-align: justify;
	overflow: auto;
}
#tech3
{
	width: 35%;
	float:left;
	text-align: justify;
	overflow: auto;
	padding-left: 10px;"
}
#sidebar
{
	width: 30%;
	overflow: auto;
	padding-left: 10px;
}
h1{
margin-bottom: 10px;
}
p{
	padding-top: 10px;
	padding-bottom: 10px;
}
a
{
text-decoration:none;
color:#000;
display:block;
}
 section
 {
 padding:10px;
 }
 #footer
 {
 	height: 60px;
 	width:100%;
 	background: #1F71CE;
 	padding:10px;
 	text-align:right;
 	margin-bottom: 20px;
 	border-top: 3px solid #6b89a4;
 }
  footer a:hover
	{
		text-transform: uppercase;
	        color:red;
		text-decoration: none
	 }